@import "../css/settings";
@import "../css/colors";

@mixin socketType($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 20%);
    box-shadow: 0 0 4px #666;
  }
}

.node {
  z-index: 2;
  display: inline-block;
  position: absolute;
  padding-bottom: 2px;
  background-color: $color_node_bg;
  border-radius: 6px;
  cursor: move;

  &.selected {
    margin-left: -2px;
    margin-top: -2px;
    border: 2px solid $color_selected;
  }
  &.inactive {
    z-index: 1;
    opacity: 0.6;
  }
}
.nodeTitle {
  margin: 0 0 4px 0;
  padding: 2px 0;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  background-color: #666;
  border-radius: 6px 6px 0 0;
}

.sources {
  display: inline-block;
  vertical-align: top;
  margin-left: -$socketCircleSize/2;
  margin-right: $socketCircleSize;
}
.sinks {
  display: inline-block;
  vertical-align: top;
  margin-left: $socketCircleSize;
  margin-right: -$socketCircleSize/2;
  text-align: right;
}

.socket {
  margin-bottom: 10px;
}
.socketCircle {
  display: inline-block;
  vertical-align: top;
  width: $socketCircleSize;
  height: $socketCircleSize;
  border-radius: $socketCircleSize;
  cursor: pointer;
  background-color: #000;

  &.type_string {@include socketType($color_type_string)}
  &.type_number {@include socketType($color_type_number)}
  &.type_boolean {@include socketType($color_type_boolean)}
  &.type_any {@include socketType($color_type_any)}
  &.selected {
    margin-left: -2px;
    margin-top: -2px;
    //background-color: $color_selected;
    border: 2px solid $color_selected;
    //@include socketType($color_selected)
  }
  &.unselected {
    margin-left: 0;
    //margin-top: -2px;
    //background-color: $color_selected;
    //border: 2px solid $color_selected;
    @include socketType(#555);
  }
}
.socketTitleContainer {
  display: inline-block;
  vertical-align: top;
}
.socketTitle {
  line-height: 12px;
  margin: 0;
  padding: 0 2px;
  font-size: 14px;
  font-weight: normal;

  &.type_string {color: $color_type_string;}
  &.type_number {color: $color_type_number;}
  &.type_boolean {color: $color_type_boolean;}
  &.type_any {color: $color_type_any;}
}

.socketInput {
  max-width: 68px;
  height: $socketCircleSize;
  margin: 0;
  padding: 0;
  font-size: 12px;
  border: none;
  color: $color_input_font;
  background-color: darken($color_node_bg, 4%);

  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  &[type=number] {
    max-width: 40px;
  }
}

.description {
  padding: 0 6px;
  color: #eee;
}